.bigcourse {
  min-width: 400px;
}

.bigcourse li {
  padding: 10px;
  border-bottom: 1px solid black;
    overflow: hidden;
}


.bigcourse li:hover {
  background: #eee;
}

.bigcourse li p {
  margin-bottom: 0;
  color: #666;

}

.bigcourse li img {
  width: 80px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.bigcourse li span {
  font-weight: bold;
  color: #000000;
}

.bigcourse li:last-child {
  border-bottom: 0;
}


/*Dark*/
.bigcourse.dark {
  background-color: #333333;
}

.bigcourse.dark li span {
  color: #DDDDDD;
}

.bigcourse.dark li:hover {
  background: #444;
}

.bigcourse.dark li p {
  color: rgb(153, 153, 153);
}


.dashboard > div > div  {
  width: 300px;
  margin: auto;
}

.dashboard h2 {
  margin-bottom: 30px;
  /*margin-top: 30px;*/
}

.dashboard div.color, .dashboard img {
  width: 300px;
  height: 186px;
  border-radius: 30px;
}

.dashboard p {
  margin-top: 10px;
}

.slick-prev:before, .slick-next:before {
  color: #333 !important;
}

.navbar .dropdown-menu.dark:after {
  border-bottom-color: #333333;
}

.subtabs {
  width: 100%;
}

.subtabs ul {
  overflow: hidden;
  margin: 0px 0 15px;
  padding: 5px 10px;
  list-style: none;
  /*background: #fefefe;*/
}

.subtabs li {
  float: left;
  margin-right: 10px;
  padding: 3px 8px;
  background: #eee;
  border-radius: 5px;

  cursor: pointer;
 }

.subtabs li.active, .subtabs li:hover {
  background: #ccc;
}

.slick2 {
  width: 100%;
}

.tabs-page .tab-content {
  display: block;
}

.tabs-page .nav.nav-tabs {
  margin-bottom: 10px;
}

.slick2  > .slick-prev, .slick2  > .slick-next {
  top: -20px;
  height: 36px;
  width: 36px;
}

.slick2  > .slick-next {
  right: -23px;
}

.slick2  > .slick-prev::before, .slick2  > .slick-next::before {
  font-size: 36px;
}

img.responsive {
  max-width: 100%;
  height: auto;
}