.bigcourse {
  min-width: 400px;
}

.bigcourse li {
  padding: 10px;
  border-bottom: 1px solid black;
    overflow: hidden;
}


.bigcourse li:hover {
  background: #eee;
}

.bigcourse li p {
  margin-bottom: 0;
  color: #666;

}

.bigcourse li img {
  width: 80px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.bigcourse li span {
  font-weight: bold;
  color: #000000;
}

.bigcourse li:last-child {
  border-bottom: 0;
}


/*Dark*/
.bigcourse.dark {
  background-color: #333333;
}

.bigcourse.dark li span {
  color: #DDDDDD;
}

.bigcourse.dark li:hover {
  background: #444;
}

.bigcourse.dark li p {
  color: rgb(153, 153, 153);
}


.dashboard > div > div  {
  width: 400px;
  margin: auto;
}

.dashboard h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.dashboard div.color, .dashboard img {
  width: 400px;
  height: 217px;
  border-radius: 30px;
}

.dashboard p {
  margin-top: 10px;
}

.slick-prev:before, .slick-next:before {
  color: #333 !important;
}

.navbar .dropdown-menu.dark:after {
  border-bottom-color: #333333;
}